@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", serif;
}

input[type=text] {
    padding: 0.5rem;
    margin: 0.5rem;
    display: inline-block;
    border: 0.1rem solid #cccccc;
    border-radius: 0.5rem;
    outline: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: #45A049;
}

li {
    list-style-type: none;
}
